body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
}

.card {
  border-radius: 10px;
}

.summary-container {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
  background-color: #e3f2fd;
  border: 1px solid #90a4ae;
  width: 100%;
  border-radius: 5px;
}

.summary-container h3 {
  margin: 0;
}

.summary-container p {
  margin: 5px 0;
}

input {
  padding: 5px;
  border: 1px solid #90a4ae;
  border-radius: 5px;
  width: 100%;
}
